<div class="col-10 container border rounded my-2">
  <div class="m-2">
    <h6>Posted by <a href="/users/{{user_id}}">{{user.username}}</a> on {{format_date updatedAt}}: </h6>
    <div class="p-2">
      {{content}}
    </div>
  </div>

</div>