<form class="p-4 my-2 border">
  <h3>Login</h3>
  <hr>
  <div class="mb-3">
    <label for="login-username" class="form-label">Username</label>
    <input type="text" class="form-control" id="login-username">
  </div>
  <div class="mb-3">
    <label for="login-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="login-password">
  </div>
  <button type="submit" class="btn btn-primary" id="login-form">Submit</button>
</form>

<form class="p-4 my-2 border">
  <h3>Signup</h3>
  <hr>
  <div class="mb-3">
    <label for="signup-username" class="form-label">Username</label>
    <input type="text" class="form-control" id="signup-username">
  </div>
  <div class="mb-3">
    <label for="signup-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="signup-password">
  </div>
  <div class="mb-3">
    <label for="signup-confirm" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="signup-confirm">
  </div>
  <button type="submit" class="btn btn-primary" id="signup-form">Submit</button>
</form>

<script src="/js/login.js"></script>